<h2>Edit Task</h2>





<form>



    <div>



      <tr><td><label for="taskname">Task Name</label></td>&nbsp;



      <td><input type="text" taskname="taskname" id="taskname"></td></tr>



      <br>



      <tr><td>



      Status



<select name="status" id="status">



    <option value="">Completed</option>



    <option value="3">Pending</option>



    <option value="2">Failed</option>



</select>



</td></tr>



    </div>



    <br>



    <button>Submit</button>&nbsp;&nbsp;&nbsp;



    <button>Reset</button>



</form>